[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
torch = "*"
torchvision = "*"
numpy = "*"
pyvista = "*"
pytorch-lightning = "*"
scipy = "*"
matplotlib = "*"
scikit-learn = "*"
paho-mqtt = "*"
pause = "*"
trimesh = "*"
smbus2 = "*"
h5py = "*"
opencv-python = "*"
memoization = "*"
h5py-cache = "*"
py-cpuinfo = "*"
psutil = "*"
scikit-image = "*"
pytorch-ssim = "*"
ssim-pil = "*"

[requires]
python_version = "3.8"
